html, body {
  overscroll-behavior: none;
}

body { 
    font-family: 'Arial', sans-serif;
    background-color: #daf0f7;
    margin: 0;
    text-align:center;
}

.post_logo_styling{
    width: 440px;
    height: 140px;
    margin-top: 15px;
    margin-bottom: 15px;
}

nav {
    background-color: #167187;
}

nav a {
    text-decoration: none;
    display: inline-block;
    width: 120px;
    padding: 15px 0px;
    color: #ffffff;            
    font-weight: bold;
}

nav a:hover {
    color: #ffffff;
    background-color: #0c5a6d;
}

nav a:visited {
    color: #76d2ee;
}

main {
    width: 100%;
    margin: 0 auto;
}

#home_page_heading {
    color:#daf0f7;
    display: block;
    text-align: center;
    padding-top: 150px;
    margin-top: 0px;
    font-weight: bold;
    text-shadow: 3px 3px 5px rgb(4, 37, 74);
}

h1 {
    font-size: 60px;
    color: #167187;
    font-style: italic;
}

#hero_image {
    background-image: url("ocean.jpg");
    background-size: cover;
    background-position: center;
    height: 600px;
}

.paragraphs {
    text-align: center;
    margin-left: 20px;
    margin-bottom: 35px;
    margin-top: 35px;
    color: #167187;
    font-weight: bold;
    font-size: 17px;
}

#main_image {
    width: 100%;
}

.leads {
    display: flex;
    align-items: center;    
    gap: 20px;              
    margin-bottom: 40px;
    justify-content: center;
    border: 8px solid #167187;   
    border-radius: 30px;         
    padding: 20px;
    max-width: 800px;  
    margin: 40px auto;
}

.lead-text{
    display:flex;
    flex-direction: column;   
    align-items: flex-start;  
    gap: 0;  
    color: #167187;
    font-weight: bold;  
    font-size: 16px;            
}

.icon {
    width: 130px;
    flex: 0 0 auto;        
}

h2 {
    font-size: 25px;
    color: #42a8bf;
    font-style: italic;
}

p a {
   background-color: #167187;
} 

p a {
  text-decoration: none;
  padding: 7px 9px;
  color: #ffffff;
  font-weight: bold;
  border-radius: 7px;
}

p a:hover {
    color: #ffffff;
    background-color: #0c5a6d;
}

p a:visited {
    color: #daf0f7;
}

footer{
     color: #daf0f7;
     background-color: #167187;
     padding-top: 30px;
     padding-bottom: 30px;
     margin-top: 60px;
}

.rule_below {
    border-bottom: #ffffff 6px double;
    padding-bottom: 10px;
}